.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#flashcardSetTitle {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 0px;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
#flashcardList {
  overflow: hidden;
  background: slategray;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}


.flashcardListCard{
  height: 180px;
  width: 180px;
  background: beige;
  color: black;
  border: thick black;
}

.button_right {
  float: right;
}