.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#documentListCard{
  background: white;
  color: black;
}

#documentCardTitle {
  float: left;
  padding-left: 30px;
  font-size: 1.5em;
  font-weight: bold;
}

.button_right {
  float: right;
}
