.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#documentList {
  overflow: hidden;
}

#documentListCard{
  background: white;
  color: black;
}

#documentListCard:hover {
  color: #3f7e3e;
  text-decoration: underline;
  border-color: #89e188;

}

#documentCardTitle {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 7px;
}

.button_right {
  float: right;
}