.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#documentList {
  overflow: hidden;
  background: slategray;
  width: fit-content;
}

#documentListCard{
  background: white;
  color: black;
  height: 150px;
}

#documentListCard:hover {
  color: #3f7e3e;
  text-decoration: underline;
  border-color: #89e188;

}

#documentCardTitle {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 0px;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.button_right {
  float: right;
}