.bgPrimary {
  background-color: #79b791;
}

.bgSecondary {
  background-color: #abd1b5;
}

.bgLight {
  background-color: #edf4ed;
}

.bgDark {
  background-color: #222222;
}

.bgDark2 {
  background-color: #4d4d4d ;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
    height: 100vh;
    padding: 0;
}

.banner {
  color: white;
  height: 10vh;
}

.bannerTitle {
  color: white;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.row1{
  background-color: #00008B;
  color: white;
  min-height: 40px;
  text-align: center;
}

.row2 {
  background-color: #282c34;
  min-height: 100vh;
  width: 300vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.documentList{
  alignment: center;
  justify-content: center;
  flex: 1;
}

.documentView {
  height: 100%;
  width: 100%;
}

.canvas{
  background-color: white;
  flex: 10;
}

.loginModalContent{
  display: flex;
  flex-direction: row;
}

.loginSide{
  flex: 1;
}

.registerSide{
  flex: 1;
}

.closeModalBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blueBG {
  background-color: blue;
}

.padZero {
  padding: 0;
}