.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
    height: 100vh;
    padding: 0px;
}

.row1{
  background-color: #00008B;
  color: white;
  text-align: center;
}

.row2 {
  background-color: #282c34;
  width: 300vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.documentList{
  alignment: center;
  justify-content: center;
  flex: 1;
}

.canvas{
  background-color: white;
  flex: 10;
}

.loginModalContent{
  display: flex;
  flex-direction: row;
}

.loginSide{
  flex: 1;
}

.registerSide{
  flex: 1;
}

.closeModalBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blueBG {
  background-color: blue;
}

.greenBorder {
  border-style: solid;
  border-color: #4f734a;
  border-width: 4px;
}

.centerChildrenHorizontal {
    display: flex;
    justify-content: center;
}

.centerChildrenVertical {
    display: flex;
    align-items: center;
}

.centerChildren {
    display: flex;
    justify-content: center;
    align-items: center;
}