.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/*
.documentListCard{
  height: 180px;
  width: 180px;
  background: beige;
  color: black;
  border: thick black;
}
 */

.documentListCard {
  border-width: 5px;
  cursor: pointer;
}

.documentListCard:hover {
  border-color: #198754;
}

.documentListCard:hover .documentListCardTitle {
  color: #198754;
  text-decoration: underline;
}



